body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5,
 h6, pre, form, fieldset, input, p, blockquote, th, td { 
 	margin:0; padding:0; 
 }


body 
{
 font-size:12px; 
 color:#666; 
 font-family:Verdana,  Microsoft YaHei, Simsun;
  background:#eee; 
  line-height:24px;
   }
fieldset, img { border:0; }
img{
	vertical-align: top;
}
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em { font-style:normal; }
input, button, select, textarea { 
	outline:none; 
} 
//禁用了文本的拖拉，尤其在谷歌下
textarea { 
	resize:none;
	} 
	//为了使文本段落左右两边对齐
p{ text-align:justify; text-justify:distribute;} 

 .clearfix:after {  content: ""; display: block; height: 0; clear: both; visibility: hidden;  }   

 .clearfix {*zoom: 1;}   /* IE6、7 专有 */

/* ---------------------------------------------------------------------------------------*/


/*top navi start*/

.header{
	height: 100px;
	background-color: #fff;

}

.inner{
	width: 1200px;
	height: 100px;
	/*background-color: pink;*/
	margin: 0  auto;
	line-height: 100px;

}

.logo{
	float: left;
}

.nav {
	float: right;
}

.nav li{
	float: left;
	margin-right: 40px; 
}

.nav li a {
	color:#333333;
	text-decoration: none;
}
.nav li a:hover{
	color:#2288f6; 
}
/*top navi stop*/

/*banner start*/

.banner{
	height: 620px;
	background: url("../res/banner.jpg") no-repeat top center;
}

/*banner end*/


/*our service start*/

.service{
	width: 1055px;
	height: 660px;
	/*background-color: pink;*/
	margin:  75px auto ; 
}



.service-hd{
	border-top: 0.5px solid #ccc;
	margin:  0 25px;
}

.service-hd h3{
	width: 167px;
	height: 46px;
	margin: -15px auto 0;
}

.service-hd p{
	align-items: center;
	font-size: 12px;
	color: #666;
	line-height: 26px;
	text-align: center;
	width: 830px;
	margin: 20px auto 0;
}


.service-bd{
	width: 1056px;
	margin-top: 44px;
	background-color: purple;
}

.service-bd li{
	width: 318px;
	height: 510px;
	float: left;
		background-color: #ffffff;
		border: 1px solid #ccc;
		border-radius: 10px;
}

.service-bd li img{
	margin: 40px 35px;
}

.service-bd li h3{
	font-size: 20px;
	color: black;
	text-align: center;
	font-weight:  normal;
	height: 40px;
}

.service-bd li p{
	width: 236px;
	font-size: 12px;
	color: #666;
	font-weight:  normal;
	margin: 0 auto;
}

.service-bd li a{
	width: 150px;
	height: 39px;
	border: 1px solid #ff9412;
	border-radius: 5px;
	font-size: 18px;
	color: #ff9412;
	background-color: #fff;
	font-weight:  normal;
	margin: 20px auto;
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 39px;
}

.service-bd li a:hover {
	color: #fff;
	background-color: #ff9412;
}



.yingxiao{
	margin: 0 48px;
}

/*our service end*/


/*<!-- the classic case start -->*/

.classic-case{
	width: 100%;
	background-color: white;
	padding: 40px 0;
}

.case-img{
	width: 167px;
	height: 45px;
	margin: 0 auto -20px;
	display: block;
}


.classic-case-line{
	width: 1015px;
	height: 1px;
	background-color: #ccc;
	margin: 0 auto;
}

.classic-case-bd{
	width: 1222px;
	margin: 50px auto 0;
	position: relative;
}

.case-1{
	width: 320px;
	height: 207px;
	margin: 0 20px;
	display: inline-block;
	position: relative;
}

.search-cover{
	width: 320px;
	height: 207px;
	background: rgba(0,0,0,0.5) url(../res/case-search.png) no-repeat center;
	position: absolute;
	top: 0;
	left:0;
	display: none;
}

.case-1 a:hover .search-cover{
	display: block;
}

.left-btn{
	width: 63px;
	height: 62px;
	display: inline-block;
	position: relative;
	top: 70px;
	left: 0;
}

.right-btn{
	width: 62px;
	height: 61px;
	display: inline-block;
	position: relative;
	top: 70px;
	left: 0;
}


/*<!-- the classic case end -->*/


.case2{
	padding: 50px 0;
	width: 1054px;
	margin: 0 auto;
	background-color: white;
}

.case2-hd{
	border-top: 1px solid #ccc;
	width: 100%;
}

.case2-hd img {
	width: 167px;
	height: 46px;
	margin: -15px auto 0;
	display: block;
}

ul,li{
	list-style: none;
}

.case2-bd{
	padding-top: 20px;
}

.case2-bd  li{
	float: left;
	width: 210px;
	height: 70px;
	background:#fff url(../res/tb.png) no-repeat center;
}

/*.case2-bd  li img{
	width: 210px;
	height: 70px;
}*/

.row-1 li{
	border-right: 1px dashed #ccc;
}

.row-2 li{
	border: 1px dashed #ccc;
	border-left: none;
}

.row-3 li{
	border-right: 1px dashed #ccc;
}

li.right-tb{
	border-right: none;
}




/*footer start*/
.footer {
	padding: 50px 0;
	width: 100%;
	height: 1000px;
	background-color: #212425;
}

.footer a{
	text-decoration: none;
	color: #acacac;
}

.footer a:hover{
	text-decoration: underline;
	color: blue;
}

.footer p{
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	color: #888888;
}
/*footer end*/







