a{
		color: #9E9B99;
		text-decoration: none;
}

a:hover{
		color: #c81523;
}

/* ---------------------------------------------------------------------------- */



/* JD Top Start*/
.J_event{
		background-color: #000;
}

.J_event a{
		display: block;
		height: 80px;
		background: url(../res/header.jpg) no-repeat center;
		position: relative;
}

.J_event a i{
		width: 20px;
		height: 20px;
		position: absolute;
		right: 0;
		top: 5px;
		font-size: 15px;
		text-align: center;
		line-height: 20px;
		font-family: "icomoon";
		color: #fff;
		background:rgba(0,0,0,.4);
		border: 1px dashed #555555;
}

/* JD Top End*/



/*<!-- ShortCut Start -->*/
.shortcut{
		height: 30px;
		background-color: #e3e4e5;
		border-bottom: 1px solid #dddddd;
		/*行高会继承*/
		line-height: 30px;
}

.shortcut a{
		color: #9d9d9d;
		font-size: 12px;
		height: 30px;
		background-color: #e3e4e5;
		padding: 0 10px;
		position: relative;
}

.shortcut a:hover{
		color:#c81523;
}



.shortcut .fl{
		margin-left: 212px;
}

.shortcut .fr li{
		float: left;
}

.shortcut .fl li {
		float: right;
}

.shortcut .fl i{
		font-family: "icomoon";
		font-style: normal;
}

.v-line{
		margin-top:  10px;
		background-color: #aaa;
		width: 1px;
		height: 10px;
}

.dropdown{
		padding-right: 15px;
		position: relative;
}


.dropdown a{
		padding-right: 2px;
}

.dropdown i{
		font-family: "icomoon";
		font-style: normal;
		font-size: 16px;
		position: absolute;
		right: 0;
		top: 0;
}
/*<!-- ShortCut End -->*/






/*<!-- header Start -->*/

.header{
		width: 100%;
		height: 140px;
		background-color: #F0F3EF;
}

.inner{
		height: 100%;
		background-color: #F0F3EF;
		position: relative;
}

.header-logo{
		position: absolute;
		left: 0;
		top: 0;
		margin-top: -31px;
		box-shadow: 0 -9px 10px 1px rgba(0,0,0,.4);
}

.QR-code{
		width: 60px;
		height: 60px;
		border: 1px solid #ccc;
		padding: 3px;
		position: absolute;
		right:  0;
		top: 0;
}

.search{
		width: 530px;
		height: 40px;
		position: absolute;
		top: 31px;
		left: 350px;
}

.search input{
		width: 470px;
		height: 38px;
		border: 1px solid #F10215;
		outline: none;
		float: left;
		font-size: 17px;
		color: #ccc;
}

.search-btn{
		width: 52px;
		height: 40px;
		background-color: #F10215;
		float: right;
}

.search-photo-btn{
		width: 50px;
		height: 38px;
		position: absolute;
		background-color: white;
		top:1px;
		right: 59px;
}

.search  i{
		font-family: "icomoon";
		font-style: normal;
		line-height: 38px;
		font-size: 22px;
}

.search .search-btn i{
		color: white;
}

.search .search-photo-btn i{
		color: #ccc;
}

.search .search-photo-btn i:hover{
		color: #F10215;
}

.hotwords{
		width: 530px;
		height: 18px;
		position: absolute;
		left: 350px;
		top: 75px;
		line-height: 18px;
		overflow: hidden;
}
.hotwords  a {
		font-size: 12px;
		margin:0 7px;
		/*padding: 0 7px;*/
}

.hotwords a:hover {
		color: #F10215;
}

.shopcar{
		width: 180px;
		height: 38px;
		border: 1px solid #ccc;
		background-color: white;
		position: absolute;
		top: 31px;
		right: 85px;
		text-align: center;
		line-height: 38px;
		color: #F10215;
		font-size: 14px;
}

.shopcar a{
		color: #F10215;
}

/*我的写法*/
.shopcar-count{
		width: 15px;
		height: 15px;
		text-align: center;
		line-height: 15px;
		font-size: 14px;
		border-radius: 50%;
		background-color: #F10215;
		color: white;
		position: absolute;
		top: 5px;
		right: 25px;
}

/*京东写法*/
.ci-count{  
		position: absolute;
	top: 5px;
	left: 140px;
	right: auto;
	display: inline-block;
	padding: 1px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #f10215;
	border-radius: 7px;
	min-width: 12px;
	text-align: center;
}


.super-sale{
		position: absolute;
		right: 10px;
		bottom: 10px;
}

.navitems{
		position: absolute;
		left: 264px;
		top: 100px;
		font-size: 14px;
		line-height: 24px;

}


.navitems ul{
		 float: left;
}
.navitems li{
		 float: left;
		 padding: 0 12px;
		color: #333;
}

.navitems li a{
		color: #333;
}


.navitems li a:hover{
		color: #f10215;
}

li.v-line-ccc{
		margin: 6px 5px 0;
		 padding: 0;
		background-color: #ccc;
		width: 1px;
		height: 11px;
}

/*<!-- header End -->*/

/* jd body Start*/
.jd-body{
	height: 480px;

}

.wing{
	height: 480px;
	background:#F0F3EF url(../res/wing-bg.png) no-repeat center;
}

.pro-sort-left{
	width: 190px;
	height: 480px;
	background-color: white;
	font-size: 14px;
}

.pro-sort-left li:hover{
	background-color: #D9D9D9;
}

.pro-sort-left li{
	display: list-item;
	padding-left:15px;
}

.pro-sort-left li a{
	color:#333;
	/*padding: 0 2px;*/
}

.pro-sort-left li a:hover{
	color:#F10215;
}

/* jd body End*/