a{
	color: #666;
	text-decoration: none;
}

a:hover{
	color: #c81523;
}

/* ---------------------------------------------------------------------------- */



/* JD Top Start*/
.J_event{
	background-color: #000;
}

.J_event a{
	display: block;
	height: 80px;
	background: url(../res/header.jpg) no-repeat center;
	position: relative;
}

.J_event a i{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 5px;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
	font-family: "icomoon";
	color: #fff;
	background:rgba(0,0,0,.4);
	border: 1px dashed #555555;
}

/* JD Top End*/



/*<!-- ShortCut Start -->*/
.shortcut{
	height: 30px;
	background-color: #e3e4e5;
	border-bottom: 1px solid #dddddd;

	/*行高会继承*/
	line-height: 30px;
}

.shortcut a{
	/*color: #9d9d9d;*/
	font-size: 12px;
	height: 30px;
	background-color: #e3e4e5;
	border-bottom: 1px solid #dddddd;
}

.shortcut .fr li{
	float: left;
}

.shortcut .fl li {
	float: right;
}

.shortcut i{
	font-family: "icomoon";
	font-style: normal;
}

	/*<!-- ShortCut End -->*/



.top{
	width: 200px;
	height: 100px;
	border: 1px solid blue;
	color: red;
	font-size: 12px;
}


.header{
	width: 1200px;
	height: 200px;

}

.top-nav{

}

.left-nav{
	width: 300px;
	height: 900px;
}





	

